# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [4]:
#"def" keyword for define to memory
def my_function(param):
    return param + 2
print(my_function(2))
print((lambda param: param + 2)(2))

4
4

#### Saving to a Variable

In [6]:
my_lambda = lambda num1, num2: num1 + num2
print(my_lambda)
print(my_lambda(3,5))

<function <lambda> at 0x00000227AB251580>
8

#### Multiple Inputs

In [7]:
print((lambda str1, str2: str1 + " " + str2)("Hello There", "Kym"))
#same as
#def str_func(str1, str2):
#   return str1 + " " + str2

Hello There Kym

#### Passing a Lambda into a Function

In [16]:
def do_an_operation(func, num):
    """
    func is expected to be a lambda function
    num is expected to be an integer
    the function do_an_operation takes in a function and performs it on num
    """

    return func(num)

help(do_an_operation)

print(do_an_operation(lambda num: num * 2, 4))
print(do_an_operation(lambda num: num // 2, 4))

Help on function do_an_operation in module __main__:

do_an_operation(func, num)
    func is expected to be a lambda function
    num is expected to be an integer
    the function do_an_operation takes in a function and performs it on num

8
2

#### Returning a Lambda from a Function

In [18]:
def return_func():
    def multiply(num):
        return num * 2

    return multiply

outer_func = return_func()
print(outer_func)

print(outer_func(4))

<function return_func.<locals>.multiply at 0x00000227AB2C25C0>
8

In [19]:
#having lambda func inside of another func

def return_lambda():
    return lambda num: num * 2

outer_func2 = return_lambda()
print(outer_func2)
print(outer_func2(4))

<function return_lambda.<locals>.<lambda> at 0x00000227AB2513A0>
8

#### If Statements within Lambdas

In [20]:
my_conditional_funk = lambda num: num * 2 if num < 10 else num

print(my_conditional_funk(4))
print(my_conditional_funk(8))
print(my_conditional_funk(10))

8
16
10

In [22]:
my_multi_func = lambda num: num * 2 if num < 10 else (num * 3 if num < 20 else num)

print(my_multi_func(9))
print(my_multi_func(19))
print(my_multi_func(29))

18
57
29

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [27]:
def f():
    return lambda num: num **3

print(f()(3))

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [31]:
def squared(num1):

    return num1 ** 2

nums = [5, 7, 3, 11]
squared_nums = map(squared,         nums)
print(list(squared_nums))

[25, 49, 9, 121]

In [33]:
squared_nums2 = []

for num in nums:
    squared_nums2.append(squared(num))

print(squared_nums2)

[25, 49, 9, 121]

In [37]:
def more_squared(num1, num2):
    return num1 ** 2, num2 ** 2


nums = [5, 7, 3, 11]
more_nums = [9, 22, 8, 13]

squared_nums3 = list(map(more_squared, nums, more_nums))
print(squared_nums3)

square1, square2 = zip(*squared_nums3)

print(list(square1))
print(list(square2))

[(25, 81), (49, 484), (9, 64), (121, 169)]
[25, 49, 9, 121]
[81, 484, 64, 169]

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [41]:
nums = [5, 10, 15, 20, 25]

result = list(map(lambda num: 2*num - 1, numbers))

print(result)

[9, 19, 29, 39, 49]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [46]:
def even_digits(num1):
    if len(str(num1)) % 2 == 0:
        return True

    else:
        return False
    # return if len(str(num1)) % == 0 

my_filtered_list = list(filter(even_digits, more_nums))
print(my_filtered_list)

[22, 13]

In [47]:
city_list = ["Chicago", "Cincinatti", "Cherry-Hill", "Boston"]

def ten_letters(city):
    return len(city) >=10

ten_letter_cities = list(filter(ten_letters, city_list))
print(ten_letter_cities)

['Cincinatti', 'Cherry-Hill']

['Cincinatti', 'Cherry-Hill']

['Cincinatti', 'Cherry-Hill']

#### Using Lambda's with Filter()

In [50]:
#SHOR WAY
print(list(filter(lambda city: len(city) >=10, city_list)))

['Cincinatti', 'Cherry-Hill']

In [ ]:
print(list(filter(lambda city: True if len(city) >= 10 else False, city_list)))

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [51]:
from statistics import mean 

more_nums = [9, 22, 8, 13]

print(mean(more_nums))

13

In [52]:
print(list(filter(lambda nums: True if nums < 13 else False, more_nums)))

[9, 8]

In [53]:
more_nums = [9, 22, 8, 13]
mean_value = sum(more_nums) / len(more_nums)

filtered_nums = list(filter(lambda x: x >= mean_value, more_nums))

print(filtered_nums)

[22, 13]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [56]:
from functools import reduce
more_nums = [9, 22, 8, 13]

my_sum = 1
for num in more_nums:
    my_sum *= num

print(my_sum)

20592

In [58]:
def multiple(num1, num2):
    return num1 * num2

print(reduce(multiple, more_nums))

20592

#### Using Lambda's with Reduce()

In [59]:
print(reduce(lambda num1, num2:  num1 * num2, more_nums))

20592

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [60]:
print(reduce(lambda num1, num2:  num1 * num2, more_nums))

20592

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [64]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step

for i in my_range(start=0, stop=10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### next() keyword
<p>Returns next element from the list, if not present prints the default value. If default value is not present, raises the StopIteration error.</p>

In [ ]:
#see below

#### Creating a Generator Object
<p>The generator object will store an iterable on which we can call the next() method.</p>

In [ ]:
my_generator_object = my_range(0, 10, 2)

In [66]:

next(my_generator_object)

NameError: name 'my_generator_object' is not defined

<p>Use try and except to print graceful message instead of the StopIteration error:

In [68]:
try:
    print(next(my_generator_object))
except:
    print("no more numbers in list")

no more numbers in list

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [27]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

# print(list(filter(lambda city: True if len(city) >= 10 else False, places)))

filtered_places = list(filter(lambda x: x.filter >= places))

print(places)

TypeError: filter expected 2 arguments, got 1

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [21]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key=lambda x: x.split()[-1])

print(author)

['Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'Victor aNisimov', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [28]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
print(list(map(lambda x: (x[0], (x[1] * 9/5) + 32), places)))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Create a generator function that individually returns each movie genre back from the list</p>

In [34]:
genres = ["adventure", "drama", "horror", "comedy", "action", "romance"]

def genre_generator(genres_list):
    for genres in genres_list:
        yield genres

genre_generator_object = genre_generator(genres)
print(next(genre_generator_object))

NameError: name 'mygenre_generator_object' is not defined

NameError: name 'mygenre_generator_object' is not defined